# Config and Htaccess Files
/upload/.htaccess
/upload/config.php
/admin/config.php
# Image File
!/image/no_image.jpg

# Image Cache Files
/image/cache/*
/image/
!/image/cache/index.html
/data_sample/
# System Cache Files
/system/storage/cache/*
!/system/storage/cache/index.html

# Modification Files
/system/storage/modification/*
!/system/storage/modification/index.html

# Templates Files
/image/templates/*
/image/templates/default.jpg

# Download Files
/system/storage/download/*
!/system/storage/download/index.html

# Upload Files
/system/storage/upload/*
!/system/storage/upload/index.html

# Flags 
# remove sharp char if you want to add flags to gitignore
# /upload/flags/*

# Log Files
/system/storage/logs/*
!/system/storage/logs/index.html

# If you want to ignore install file use following lines [on development mode]
# /upload/backup.install/*
# /upload/install/*

# Ignore all vendor files included by composer and the lock file
/tests/phpunit/vendor/*
/tests/phpunit/composer.lock
/vendor/*

# Test Config File
/tests/phpunit/bootstrap.php

/tests/
/Files to upload/
# IDE Project files
/.idea
