.wrapper {
     background: url(../img/bg-body.png) top center no-repeat;
     height: 1574px;
     width: 100%;
     min-width: 1400px;
}

body {
     padding: 0px;
     margin: 0px;
}

.content {
     width: 1140px;
     margin: 0px auto;
     height: 1574px;
     padding: 644px 0px 0px 0px;
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
}

     .content a {
          display: block;
          margin: 0px auto;
          height: 930px;
          text-indent: -100000px;
     }